<ion-header>

  <ion-navbar color="caramel">
    <ion-title>
      <img class="logoBar" src="assets/imgs/tanboora.png">
    </ion-title>
    <ion-buttons dir="ltr" end>
      <button (click)="openCart()" ion-button icon-only color="royal">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{this.cartLength}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button (click)="openContact()" ion-button icon-only color="royal">
        <ion-icon name="call">          
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><ion-icon  color="primary" name="notifications" item-start></ion-icon><span>إخطارات</span></ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item (click)="goContact()">
      <ion-icon ion-text color="primary" name="pin" item-start></ion-icon>
      اتصل بنا
    </ion-item>
    <ion-item>
      <ion-icon ion-text color="primary" name="share" item-start></ion-icon>
      مشاركة التطبيق
    </ion-item>
    <ion-item>
      <ion-icon ion-text color="primary" name="star" item-start></ion-icon>
      تقييم طنبورة
    </ion-item>
    <ion-item>
      <ion-icon color="primary" name="" item-start>v</ion-icon>
      الإصدار
      <span text-center item-end ion-text color="gray">v 1.0.1</span>
    </ion-item>
    <ion-item (click)="goAbout()">
      <ion-icon ion-text color="primary" name="information-circle" item-start></ion-icon>
      عن طنبورة
    </ion-item>
    <ion-item (click)="goTerms()">
      <ion-icon ion-text color="primary" name="document" item-start></ion-icon>
       الشروط و الاحكام
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>

</ion-footer>