
<ion-header>

  <ion-navbar color="caramel">
    <ion-title> العناوين المسجلة</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding text-center *ngIf="!myAddresses[0]">
    <ion-icon class="bigIcon" name="bookmark"></ion-icon>
    <br>
    <p ion-text color="gray" text-center>لا توجد اي عناوين مسجلة</p>
  </div>
  <ion-list *ngIf="myAddresses[0]">
    <ion-item *ngFor="let x of myAddresses">
      <strong>{{x.area}}</strong>
      <p>{{x.details}}</p>
      <button ion-button color="danger" (click)="removeItem(x)" clear item-end>إزالة</button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <div padding>
    <button block ion-button (click)="address()">اضف عنوان</button>
  </div>
</ion-footer>