<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="caramel">
    <ion-title>عن طنبورة</ion-title>
    <ion-buttons dir="ltr" end>
        <button (click)="openCart()" ion-button icon-only color="royal">
          <ion-icon name="cart"><ion-badge color="secondary">3</ion-badge></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
    <img small src="assets/imgs/tanboora.png">
  </div>
  <div padding>
    <p> طنبورة هو متجر إلكتروني لقطع غيار السيارات. نحن نوصلك لموردين قطاع الغيار المحترفين في مصر . لضمان أحسن الأسعار وأفضل جودة</p>
  </div>


</ion-content>
<ion-footer>
    <p ion-text color="gray" text-center>Developed & maintained by <a href="https://bit68.com">Bit68</a></p>
  </ion-footer>
