page-login {
    ion-content{
        img{
            max-width: 40%;
            margin-top: 20%;
        }
        position: relative;
        width: 100%;
        height: 100%;
        background: whitesmoke !important;
        background-size: cover;
  
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right,#fff,#fff);
            opacity: .8; 
        }
        .fbBtn{
            background:#3B5998;
            color:#fff;
        }
    }
    // ion-footer{
    //     &:before{
    //         height: 0px !important;
    //     }
        
    // }
}
