<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>تسجيل الدخول</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding text-center>
    <img src="assets/imgs/tanboora.png">
    
  </div>
  <ion-list>
    <ion-item>
      <!-- <ion-label stacked color="primary">Email</ion-label> -->
      <ion-input placeholder="البريد الالكتروني" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>

      <!-- <ion-label stacked color="primary">Password </ion-label> -->
      <ion-input placeholder="كلمة المرور" [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="smText">تذكرنى</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <br>
    <button class="radBtn" block ion-button [disabled]="!email || !password" (click)="login(email,password)">تسجيل الدخول</button>
    <p text-center ion-text color="gray">أو</p>
    <button block ion-button class="fbBtn" (click)="loginFB()">تسجيل الدخول باستخدام الفيسبوك</button>
  </ion-list>
  <p text-center>لم يكن لديك حساب مع تانبورة؟ <b (click)="goReg()">سجل </b></p>
</ion-content>
