<ion-header>

  <ion-navbar color="caramel">
    <ion-title>طلباتي</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list >
    <ion-item *ngFor="let order of orders" (click)="goDetails(order)">
      <h2># {{order.id}}</h2>
      <p>حالة الطلب </p>
      <span ion-text color="{{order.status}}" item-end>{{order.status}}</span>
    </ion-item>
  </ion-list>
</ion-content>