<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>إنشاء حساب</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding text-center>
    <img src="assets/imgs/tanboora.png">
  </div>
  <ion-list>
    <ion-item>
      <!-- <ion-label stacked color="primary">Name</ion-label> -->
      <ion-input placeholder="الاسم" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>

      <ion-input placeholder="البريد الالكتروني" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>

      <ion-input placeholder="كلمة المرور" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>

      <ion-input placeholder="التليفون" type="numbers" [(ngModel)]="phone"></ion-input>
    </ion-item>
    <ion-item class="noBottomLine">
      <!-- <ion-label stacked color="primary">Brands</ion-label> -->
      <ion-select [(ngModel)]="brand" interface="action-sheet">
        <ion-option selected>الماركة</ion-option>
        <ion-option>BMW</ion-option>
        <ion-option>AUDI</ion-option>
        <ion-option>KIA</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="noBottomLine">
      <!-- <ion-label stacked color="primary">Models</ion-label> -->
      <ion-select [(ngModel)]="model" interface="action-sheet">
        <ion-option selected>موديل</ion-option>
        <ion-option>Model 1</ion-option>
        <ion-option>Model 2</ion-option>
        <ion-option>Model 3</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="noBottomLine">
      <!-- <ion-label stacked color="primary">Parts</ion-label> -->
      <ion-select [(ngModel)]="part" interface="action-sheet">
        <ion-option selected>أجزاء</ion-option>
        <ion-option>Part 1</ion-option>
        <ion-option>Part 2</ion-option>
        <ion-option>Part 3</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked color="primary">أنا أقبل الشروط والأحكام</ion-label>
      <ion-checkbox [(ngModel)]="terms"></ion-checkbox>
    </ion-item>
    <br>

    <button ion-button block class="radBtn" [disabled]="!name ||!email||!password||!terms || !phone" (click)="register(name,email,password,phone,brand,model,part)">تسجيل</button>
    <p ion-text color="gray" text-center>أو</p>
    <button block ion-button (click)="loginFB()" class="fbBtn">تسجيل الدخول باستخدام الفيسبوك</button>

  </ion-list>
</ion-content>