page-register {
    ion-content{
        img{
            max-width: 40%;
            margin-top: 20%;
        }
        position: relative;
        width: 100%;
        height: 100%;
        background: whitesmoke !important;
        background-size: cover;
  
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right,#fff,#fff);
            opacity: .8; 
        }
        .fbBtn{
            background:#3B5998;
            color:#fff;
        }
    }

        ion-select{
            width: 100% !important;
            max-width: unset;
            margin:5px;
            box-shadow:0px 0px 2px 0px #ccc;
            .select-text,.select-icon-inner{
                color:color($colors,light) !important;
            }
            
    }
    
        .noBottomLine{
            .item-inner{
                border-bottom:0.55px solid #fff !important;
            }
       
    
}
}
