<ion-tabs color="caramel">
  <ion-tab [root]="tab1Root" tabTitle="الرئيسية" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="سياراتي" tabIcon="car"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="بحث" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="حسابي" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="أكثر" tabIcon="more"></ion-tab>
</ion-tabs>
