<!--
  Generated template for the PartdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>{{part.title}}</ion-title>
    <ion-buttons dir="ltr" end>
      <button (click)="openCart()" ion-button icon-only color="royal">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{cartLength}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-slides pager>
      <ion-slide autoplay="5000" loop="true" speed="500" *ngFor="let x of [1,2,3]">
        <img class="prodImg" [style.background-image]="'url(' + part.image + ')'">
      </ion-slide>
    </ion-slides>
  </ion-row>
  <br>
  <div class="product">
  <div (click)="goDetails(part)" class="rating" padding text-center>
    <rating [(ngModel)]="ratee" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
      nullable="false" (ngModelChange)="onModelChange($event)"></rating>({{part.reviews.length}} تقييمات)
  </div>
</div>
  <!-- <ion-row padding>
    <ion-col text-center>
      <img class="prodImg" src="{{part.src}}">
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col col-8 ion-text color="primary">
      <b>رقم القطعة:</b>
    </ion-col>
    <ion-col ion-text color="gray" col-4>{{part.title}}</ion-col>
    <ion-col col-8 ion-text color="primary">
      <b>الماركة :</b>
    </ion-col>
    <ion-col ion-text color="gray" col-4>{{part.make.title}}</ion-col>
    <ion-col col-8 ion-text color="primary">
      <b>سيارة :</b>
    </ion-col>
    <ion-col ion-text color="gray" col-4>{{part.model.title}}</ion-col>
    <ion-col col-12 ion-text color="primary">
      <b>وصف :</b>
    </ion-col>
    <ion-col col-12 ion-text color="gray">{{part.description}}</ion-col>
    <ion-col col-4 ion-text color="primary">
      <b>المورد:</b>
    </ion-col>
    <ion-col (click)="viewSupplier(part.shop_id)" col-4 ion-text color="gray" text-left>
      <b>{{part.shop}}</b>
    </ion-col>
    <ion-col col-4 ion-text color="gray">
      <div class="store">
        <div class="rating" text-right>
          <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
            nullable="false" (ngModelChange)="onModelChange($event)"></rating>
          <!-- <b ion-text color="dark">4/5</b><br> -->
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <!-- <ion-row class="whiteBg shadow text-center">
    <ion-col>
      <div class="rating" padding text-center>
        <rating [(ngModel)]="ratee" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
          nullable="false" (ngModelChange)="onModelChange($event)"></rating>
        <b ion-text color="dark">{{ratee}}/5</b>

      </div>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col>
      <button ion-button block (click)="addToCart(part)" color="light">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button block (click)="like(part)" color="light">
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>