page-partdetails {
.prodImg{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    height: 200px;
}
ion-slides{
    height: auto;
    .swiper-slide{
        // img{
        //     max-width: 100px;
        // }
    }
}
.store{
    .rating{
        ul{
            padding-left: 0px;
            padding-right: 0px;
            margin-top:0px;
            li{
                padding:0px !important;
                ion-icon{
                    color:goldenrod;
                    font-size: 1rem;
                }
            }
        }
    }
}

.product{
    .rating{
        color:grey;
        font-size: 14px;
        font-weight: bolder;
        ul {
            padding: 0px;
           
            &.rating li {
              padding: 5px 10px !important;
              background: none;
              color: #ffb400;
           
              ion-icon {
                font-size: 20px;
              }
            }
          }
          ion-textarea{
              width:100%;
              border: 1px solid #ddd;
              padding:5px;
          }
    }
}
}
