<!--
  Generated template for the OrderdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>#{{order.id}}</ion-title>
    <!-- <ion-buttons dir="ltr" end>
      <button (click)="openCart()" ion-button icon-only color="royal">
        <ion-icon name="cart"><ion-badge color="secondary">3</ion-badge></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 ion-text color="primary">معلومات الطلب</h5>
  <ion-row *ngFor="let prod of order.items">
    <ion-col col-2>
      <img src="{{prod.product.image}}">
    </ion-col>
    <ion-col col-10>
      <h5 ion-text color="primary">{{prod.product.title}}</h5>
      <p ion-text color="gray">{{prod.product.price}}
        <span ion-text color="secondary">({{prod.quantity}})</span>
      </p>
    </ion-col>

  </ion-row>
  <div class="separator"></div>
  <ion-row >
    <ion-col col-12 ion-text color="gray">حاصل الجمع : {{order.total}} جنيه مصري</ion-col>
    <ion-col col-12 ion-text color="gray">شحن: {{shipping}} جنيه مصري</ion-col>
    <ion-col col-12>
      <b ion-text color="dark">مجموع : {{subTotal}} جنيه مصري</b>
    </ion-col>
  </ion-row>
  <div class="separator"></div>
<div class="title">
  <h5 ion-text color="primary">متابعة حالة الطلب</h5>
</div>
  <!-- processing stat -->
  <ion-row class="stats" *ngIf="order.status==='Processing'">
    <ion-col [style.background-color]="'goldenrod'">
      <span>Processing</span>
    </ion-col>
    <ion-col>
      <span ion-text color="lightGray">Confirmed</span>
    </ion-col>
    <ion-col>
      <span ion-text color="lightGray">Shipping</span>
    </ion-col>
    <ion-col>
      <span ion-text color="lightGray">Delivered</span>
    </ion-col>
  </ion-row>

  <!-- confirmed stat -->
  <ion-row class="stats" *ngIf="order.status==='Confirmed'">
    <ion-col [style.background-color]="'goldenrod'">
      <span>Processing</span>
    </ion-col>
    <ion-col [style.background-color]="'green'">
      <span >Confirmed</span>
    </ion-col>
    <ion-col>
      <span ion-text color="lightGray">Shipping</span>
    </ion-col>
    <ion-col>
      <span ion-text color="lightGray">Delivered</span>
    </ion-col>
  </ion-row>

  <!-- shipping stat-->
  <ion-row class="stats" *ngIf="order.status==='Shipping'">
    <ion-col [style.background-color]="'goldenrod'">
      <span>Processing</span>
    </ion-col>
    <ion-col [style.background-color]="'green'">
      <span>Confirmed</span>
    </ion-col>
    <ion-col [style.background-color]="'#1970b9'">
      <span>Shipping</span>
    </ion-col>
    <ion-col>
      <span ion-text color="lightGray">Delivered</span>
    </ion-col>
  </ion-row>

  <!--delivered stat -->
  <ion-row class="stats" *ngIf="order.status==='Delivered'">
    <ion-col [style.background-color]="'goldenrod'">
      <span>Processing</span>
    </ion-col>
    <ion-col [style.background-color]="'green'">
      <span ion-text color="lightGray">Confirmed</span>
    </ion-col>
    <ion-col [style.background-color]="'#1970b9'">
      <span ion-text color="lightGray">Shipping</span>
    </ion-col>
    <ion-col [style.background-color]="'#283044'" >
      <span ion-text color="lightGray">Delivered</span>
    </ion-col>
  </ion-row>

  <!-- cancelled stat -->
  <ion-row class="stats" *ngIf="order.status==='Cancelled'">
    <ion-col [style.background-color]="'goldenrod'">
      <span>Processing</span>
    </ion-col>
    <ion-col [style.background-color]="'#db1e31'">
      <span ion-text color="lightGray">Cancelled</span>
    </ion-col>
    <ion-col>
      <span ion-text color="lightGray">Shipping</span>
    </ion-col>
    <ion-col>
      <span ion-text color="lightGray">Delivered</span>
    </ion-col>

  </ion-row>
</ion-content>