page-orderdetails {
.stats{
    padding-top: 10px;
    ion-col{
        border: 1px solid #eaeaea;
        border-radius: 50%;
        padding: 25px 0;
        margin:1px;
        min-height: 30px;
        text-align: center;
        
        font-size: 10px;
    }
   
}
.title{
    h5{
        margin-bottom:10px;
        margin-top:10px !important;
    }
}
}
