<!--
  Generated template for the EditprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="caramel">

  <ion-navbar>
    <ion-title> تعديل الحساب</ion-title>
    <ion-buttons dir="ltr" end>
      <button (click)="dismiss()" ion-button icon-only color="royal">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
<div padding text-center>
    <img (click)="updatePic()" class="profImg" *ngIf="u.image" src="{{u.image}}">
    <img (click)="updatePic()" class="profImg" *ngIf="!u.image" src="assets/imgs/profile.png">
    <br>
</div>
<ion-list>
  <ion-item>
    <ion-label ion-text color="light" stacked>الاسم</ion-label>
    <ion-input [(ngModel)]="name" value="{{u.name}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label ion-text color="light" stacked>البريد الالكتروني</ion-label>
    <ion-input [(ngModel)]="email" value="{{u.email}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label ion-text color="light" stacked>رقم التليفون</ion-label>
    <ion-input [(ngModel)]="phone" value="{{u.phone}}"></ion-input>
  </ion-item>
  <div padding>
    <button ion-button block (click)="updateInfo(name,email,phone)">تعديل</button>
  </div>
</ion-list>
</ion-content>
