<ion-content>
  <br><br>
  <div padding text-center>
    <img src="assets/imgs/tanboora.png">
    <!-- <h3 ion-text color="light">TANBOORA</h3> -->
  </div>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <button block ion-button outline color="light" (click)="login()">الدخول</button>
    </ion-col>
    <ion-col>
      <button block ion-button outline color="light" (click)="register()">تسجيل الدخول</button>
    </ion-col>
  </ion-row>
</ion-footer>