<!--
  Generated template for the FilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>منقي</ion-title>
    <ion-buttons dir="ltr" end>
        <button (click)="dismiss()" ion-button icon-only color="royal">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list  radio-group multiple>
    <ion-list-header>
      اختيار أجزاء الخاص بك
    </ion-list-header>

    <ion-item *ngFor="let part of filteredParts">
      <ion-label>{{part.name}}</ion-label>
      <ion-checkbox [(ngModel)]="part.checked" color="secondary"></ion-checkbox>
    </ion-item>
  </ion-list>
  <br>
  <div padding>
    <button ion-button block color="primary" (click)="submit(parts)">تطبيق</button>
  </div>
</ion-content>