<ion-header>

  <ion-navbar color="caramel">
    <ion-title>السلة</ion-title>
    <ion-buttons dir="ltr" end>
      <button (click)="dismiss()" ion-button icon-only color="royal">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <div padding text-center *ngIf="!myCart[0]">
        <ion-icon class="bigIcon" name="cart"></ion-icon>
        <br>
        <p ion-text color="gray" text-center>لا توجد منتجات  </p>
        <button ion-button  (click)="goHome()">تسوق الان</button>
      </div>
  <ion-grid>
    <ion-row class="prod" *ngFor="let product of myCart">
      <ion-col col-3>
        <img class="cartImg" [style.background-image]="'url(' + product.product.image + ')'">
      </ion-col>
      <ion-col col-8>
        <h4 ion-text color="primary">{{product.product.title}}</h4>
        <p ion-text color="dark">{{product.unit_price}} ج.م
          <span ion-text color="secondary">({{product.quantity}})</span>
        </p>
        <span ion-text class="totPrice" >{{product.total_price}} ج.م</span>
      </ion-col>
      <ion-col col-1 item-end>
        <ion-icon name="trash" (click)="removeItem(product)" color="danger"></ion-icon>
      </ion-col>
    </ion-row>
    <!-- <div class="separator"></div> -->

  </ion-grid>

</ion-content>
<ion-footer *ngIf="myCart[0]">
  <ion-row >
    <ion-col col-6 text-center>
      <h5 ion-text color="gray">حاصل الجمع :</h5>
    </ion-col>
    <ion-col col-6 text-right>
      <h5 ion-text color="light">{{myCartInfo.cart_total}} جنيه مصري</h5>
    </ion-col>

    <ion-col col-6 text-center>
      <h5 ion-text color="gray">الشحن :</h5>
    </ion-col>
    <ion-col col-6 text-right>
      <h5 ion-text color="light">{{shipping}} جنيه مصري</h5>
    </ion-col>
    <div class="separator"></div>
    <ion-col col-6 text-center>
      <h3 ion-text color="dark"> مجموع :</h3>
    </ion-col>
    <ion-col col-6 text-right>
      <h3 ion-text color="gray">{{subTotal}} جنيه مصري</h3>
    </ion-col>
    <ion-col col-12 padding>
        <button ion-button block color="primary" (click)="goCheckout()">المتابعة إلى الدفع</button>
    </ion-col>
  </ion-row>
  
</ion-footer>