page-cart {
    .bigIcon{
        font-size: 52px !important;
        color:color($colors,gray) !important;
    }
.cartImg{
    border:1px solid color($colors,gray);
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod{
    
    padding: 3px;
    background:white;
    margin:2px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #cdcccc;
    ion-col[col-8]{
        p{
            font-size: 12px;
            margin: 0;
        }
        .totPrice{
            font-weight: bold;
        }
    }
}
.separator{
    border-bottom: 1px solid color($colors,lightGray);
    height: 1px;
    width: 100%;
}
ion-footer{
    ion-row{
        background:white;
        border-radius: 5px;
        box-shadow: 0px 1px 10px #cdcccc;
    }
}
}
