<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>الشروط و الأحكام</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>البنود والشروط هي مجموعة من القواعد والإرشادات التي يجب على المستخدم الموافقة عليها من أجل استخدام موقعك على الويب أو تطبيقك للجوال. وهو بمثابة عقد قانوني بينك (الشركة) الذي لديه موقع أو التطبيق المحمول والمستخدم الذي الوصول إلى موقع الويب الخاص بك والتطبيق المحمول.

    والامر متروك لكم لتعيين القواعد والإرشادات التي يجب على المستخدم الموافقة عليها. يمكنك التفكير في اتفاقية البنود والشروط باعتبارها الاتفاقية القانونية التي تحافظ فيها على حقوقك في استبعاد المستخدمين من تطبيقك في حالة إساءة استخدام تطبيقك، وفي الأماكن التي تحافظ فيها على حقوقك القانونية ضد مدمني التطبيقات المحتملين، وما إلى ذلك.
    
    كما تعرف الشروط والأحكام أيضا ب "شروط الخدمة" أو "شروط الاستخدام".
    
    يمكن استخدام هذا النوع من الاتفاقية القانونية لكل من موقعك الإلكتروني وتطبيقك للجوال. ليس مطلوبا (من غير المستحسن فعليا) الحصول على اتفاقيات وشروط منفصلة: واحدة لموقع الويب الخاص بك والآخر لتطبيقك للجوال.</p>
</ion-content>
