<ion-header>

  <ion-navbar color="caramel">
    <ion-title>
      <img class="logoBar" src="assets/imgs/tanboora.png">
    </ion-title>
    <ion-buttons dir="ltr" end>
      <button (click)="openCart()" ion-button icon-only color="royal">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{this.cartLength}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button (click)="openContact()" ion-button icon-only color="royal">
        <ion-icon name="call">          
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-row padding>
    <ion-col *ngIf="!myUser.id" text-center>
        <img class="supImg" src="assets/imgs/profile.png"><br>
        <button ion-button (click)="goLog()">تسجيل دخول</button>
    </ion-col>
    <ion-col text-center *ngIf="myUser.id" >
      <img class="supImg" *ngIf="myUser.image" src="{{myUser.image}}">
      <img class="supImg" *ngIf="!myUser.image" src="assets/imgs/profile.png">
      <br>
      <b>{{myUser.name}}
        <ion-icon (click)="editProfile()" name="md-create" color="primary"></ion-icon>
      </b>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="myUser.id">
    <ion-item (click)="goOrders()">
      <ion-icon name="cart"  color="primary" item-start></ion-icon>
      طلباتي
    </ion-item>
    <ion-item (click)="goFav(myUser.fav_products)">
      <ion-icon name="heart" color="primary" item-start></ion-icon>
      أجزاء المفضلة
    </ion-item>
    <ion-item (click)="goAddress(myUser.addresses)">
      <ion-icon name="book" color="primary"  item-start></ion-icon>
      عناوين مسجلة
    </ion-item>
    <ion-item (click)="logOut()">
      <ion-icon  name="log-out" color="primary" item-start></ion-icon>
      الخروج
    </ion-item>
  </ion-list>

  

</ion-content>