page-reviewdetails {
    ion-item{
        p{
            white-space: initial;
        }
    }
    ion-col[col-2]{
        font-size: 10px;
    }
    [col-8]{
        margin-top:8px;
        padding: 0px;
    }
    /* Make sure that padding behaves as expected */
    * {box-sizing:border-box}

/* Container for skill bars */
    .container {
        width: 100%; /* Full width */
        background-color: #ddd; /* Grey background */
        height: 7px;
        .skills {
            text-align: right; /* Right-align text */
            padding-right: 20px; /* Add some right padding */
            line-height: 40px;
            height: 7px;
            color: black; /* White text color */
        }
        .css{
            background:color($colors,light);
            width:80%;
        }
    }


    
    .body{
        padding:20px 40px;
    }
    .rating{
        ul{
            display: inline-table;
            padding-left: 0px;
            padding-right: 0px;
            margin-top:0px;
            li{
                padding:0px !important;
                ion-icon{
                    color:goldenrod;
                    font-size: 1rem;
                }
            }
        }
    }
}
