<ion-header>
  <ion-navbar color="caramel">
    <ion-title>{{part.name}}</ion-title>
    <!-- <ion-buttons dir="ltr" end>
      <button (click)="openCart()" ion-button icon-only color="royal">
        <ion-icon name="cart">
          <ion-badge color="secondary">٣</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-row padding>
    <h5 ion-text color="primary">تعليقات / التقييمات</h5>
  </ion-row>
  <ion-row class="body whiteBg">
    <ion-col text-center col-5>
      <span class="smText" ion-text color="gray">معدل التقدير</span>
      <h4>3.8</h4>
      <span class="smText" ion-text color="gray">من ١١ ذبون</span>
    </ion-col>
    <ion-col col-7 text-center>
      <ion-row>
        <ion-col col-2>(11)</ion-col>
        <ion-col class="container noPadding" col-8>
          <div class="skills css"></div>
        </ion-col>
        <ion-col col-2>5</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2>(14)</ion-col>
        <ion-col class="container noPadding" col-8>
          <div class="skills css"></div>
        </ion-col>
        <ion-col col-2>4</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2>(31)</ion-col>
        <ion-col class="container noPadding" col-8>
          <div class="skills css"></div>
        </ion-col>
        <ion-col col-2>3</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2>(21)</ion-col>
        <ion-col class="container noPadding" col-8>
          <div class="skills css"></div>
        </ion-col>
        <ion-col col-2>2</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2>(10)</ion-col>
        <ion-col class="container noPadding" col-8>
          <div class="skills css"></div>
        </ion-col>
        <ion-col col-2>1</ion-col>
      </ion-row>
      <br>
      <ion-row >
        <ion-col text-center>
            <strong  ion-text color="primary" (click)="openReview()">كتابة تعليق</strong>
        </ion-col>
        
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row padding>
    <h5 ion-text color="primary">تقييمات المستخدم</h5>
  </ion-row>
  <ion-list>
    <ion-item *ngIf="!myReviews[0]">
      <p text-center>لا توجد تقييمات</p>
    </ion-item>
    <div  *ngIf="myReviews[0]">
        <ion-item *ngFor="let rev of myReviews">
            <div>
              <rating class="rating" [(ngModel)]="rev.rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                starIconName="star" nullable="false"></rating>
              <span class="smText fl_left">{{rev.date}}<br>{{rev.time}}</span>
            </div>
            <h4>{{rev.user_name}}</h4>
            <p class="full">{{rev.text}}</p>
          </ion-item>
    </div>  
  </ion-list>
</ion-content>