<ion-header>
  <ion-navbar color="caramel">
    <ion-title>
      اتصل
    </ion-title>
    <!-- <ion-buttons dir="ltr" end>
      <button (click)="openCart()" ion-button icon-only color="royal">
        <ion-icon name="cart"><ion-badge color="secondary">٣</ion-badge></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-icon ion-text color="primary" name="chatboxes" item-start></ion-icon>
      info@tanboora.com
    </ion-item>
    <ion-item >
      <ion-icon ion-text color="primary" name="call" item-start></ion-icon>
      +2xxxxxxxxxxx
    </ion-item>
    <ion-item>
      <ion-icon ion-text color="primary" name="globe" item-start></ion-icon>
      tanboora.com
    </ion-item>
    
  </ion-list>
</ion-content>

