page-home {
    ion-slides{
        height: 25%;
    }
    .scrolls {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 180px;
        white-space:nowrap
    }
    .imageDiv {
        margin: 2px;
        text-align: right;       
        cursor: pointer;
        display:inline-block;
        *display:inline;/* For IE7*/
        *zoom:1;/* For IE7*/
        vertical-align:top;
        border-right:1px solid rgb(192, 191, 191);
        img{
            max-height: 100px;
        }
        p{
            margin-right:3px;
            margin-top:0px;
            span{
                font-size:12px;
            }
        }
     }
     .wrapper { 
        background:#FFF; 
        margin: auto; 
        text-align: center; 
        position: relative;
        margin-bottom: 20px !important;
        width: -webkit-fill-available;
        padding-top: 5px;
    }
    ion-scroll.myScroll{
        box-shadow: 0px 0px 1px 0px #e2dede;
        height: 170px;
        background:white;
         .scroll-content{
            .imageDiv:first-child{
                border-right:transparent;
            }   
             padding:0px !important;
             height: 170px;
             overflow-x: visible !important;
             white-space: nowrap;
             .myItem{
                 display: inline-block;
                 margin-left:5px;
                 width:100px;
                 height: 120px;
                 text-align: center;
                 .caption{
                     color: black;
                 }
             }
         }
         
     }
      
}
