<ion-header >
  <ion-navbar color="caramel">
    <ion-title>
      <img class="logoBar" src="assets/imgs/tanboora.png">
    </ion-title>
    <ion-buttons dir="ltr" end>
      <button (click)="openCart()" ion-button icon-only color="royal">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{this.cartLength}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button (click)="openContact()" ion-button icon-only color="royal">
        <ion-icon name="call">          
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide *ngFor="let slide of slides">
      <img src="{{slide.image}}">
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row padding>
      <h5 ion-text color="primary">منتجات مميزة</h5>
    </ion-row>
   
    <ion-scroll class="myScroll" scrollX='true'>
      <div  *ngFor="let prod of featuredProducts" class="imageDiv" (click)="openProd(prod)">
          <p dir="rtl">{{prod.title}}<br>
            <span ion-text color="gray">{{prod.price}} جنيه مصري</span></p>
          
          <img src="{{prod.image}}"> 
        </div>
    </ion-scroll>
  </ion-grid>
  <ion-row>
      <ion-col padding>
        <h5 ion-text color="primary">متاجر مميزة</h5>
        <ion-list>
          <ion-item *ngFor="let store of featuredStores" (click)="shopDetails(store)" >{{store.title}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-grid>
      <ion-row padding>
        <h5 ion-text color="primary"> احتياجات سيارتي</h5>
      </ion-row>
     
      <ion-scroll class="myScroll" scrollX='true'>
        <div  *ngFor="let prod of ads" class="imageDiv" (click)="openProd(prod)">
            <p dir="rtl">{{prod.title}}<br>
              <span ion-text color="gray">{{prod.price}} جنيه مصري</span></p>
            
            <img src="{{prod.image}}"> 
          </div>
      </ion-scroll>
    </ion-grid>
</ion-content>