<!--
  Generated template for the SupplierPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>المورد
    </ion-title>
    <ion-buttons dir="ltr" end>
      <button (click)="openCart()" ion-button icon-only color="royal">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{this.cartLength}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row padding>
    <ion-col text-center>
      <img class="supImg" [style.background-image]="'url(' + shop.image + ')'">
      <br>
      <b>{{shop.title}}</b>
      <br>
      <b ion-text color="secondary">{{shop.avg_rate}}/5</b>
      <br>
      <!-- <button ion-button small color="primary" (click)="addReview()">معدل المورد</button> -->
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col col-4 ion-text color="dark">البريد الإلكتروني</ion-col>
    <ion-col ion-text color="gray" col-8>{{shop.email}}</ion-col>

    <ion-col col-4 ion-text color="dark">عنوان</ion-col>
    <ion-col col-8 ion-text color="gray">{{shop.address}}</ion-col>

    <ion-col col-4 ion-text color="dark">هاتف</ion-col>
    <ion-col col-8 ion-text color="gray">
      {{shop.phone}}
    </ion-col>
  </ion-row> -->
  <h3 ion-text color="primary">المنتجات</h3>
  <div padding text-center class="whiteBg" *ngIf="!suppItems[0]">
    <ion-icon class="bigIcon" name="ios-information-circle-outline"></ion-icon><br>
    <p ion-text color="gray" text-center>لا توجد منتجات</p>
  </div>
  <ion-scroll *ngIf="suppItems[0]" class="myScroll" scrollX='true'>
    <div  *ngFor="let prod of suppItems" class="imageDiv" (click)="openProd(prod)">
        <p dir="rtl">{{prod.title}}<br>
          <span ion-text color="gray">{{prod.price}} جنيه مصري</span></p>
        
        <img src="{{prod.image}}"> 
      </div>
  </ion-scroll>
  <!-- <div class="wrapper">
    <div class="scrolls">
      <div  *ngFor="let prod of suppItems" class="imageDiv" (click)="openProd(prod)">
        <p dir="rtl">{{prod.title}}<br>
          <span ion-text color="gray">{{prod.price}} جنيه مصري</span></p>
        
        <img src="{{prod.image}}"> 
      </div>
    </div>
  </div> -->
  <br>
  <div>
    <h3 ion-text color="primary">التعليقات</h3>
    <div class="whiteBg" padding text-center *ngIf="!reviews">
      <ion-icon class="bigIcon" name="text"></ion-icon><br>
      <p ion-text color="gray" text-center>لا توجد تعليقات</p>
    </div>
    <div *ngIf="reviews">
      <ion-card *ngFor="let review of reviews">
        <ion-item >
          <!-- <ion-avatar item-start>
            <h5>{{}}</h5>
          </ion-avatar> -->
          <h2 ion-text color="primary">{{review.user_name}}</h2>
          <ion-note item-end>
            {{review.time}}
          </ion-note>
          <p>{{review.date}}</p>
        </ion-item>
        <ion-card-content>
          <p>" {{review.text}} "</p>
        </ion-card-content>
  
        <ion-row class="likes">
          <ion-col>
            <button (click)="react(review)" ion-button icon-left clear small>
              <ion-icon color="secondary" name="thumbs-up" (click)="react(review)"></ion-icon>
              <div ion-text color="secondary"> {{review.likes_count}} </div>
            </button>
          </ion-col>
          
        </ion-row>
      </ion-card>
    </div>
    
  </div>
</ion-content>