<!--
  Generated template for the SupplierformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>نموذج المورد</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked color="primary">اسم</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked color="primary">عنوان</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-item>
          <ion-label stacked color="primary">
            العلامات التجارية</ion-label>
          <ion-select interface="action-sheet" >
            <ion-option>BMW</ion-option>
            <ion-option>AUDI</ion-option>
            <ion-option>KIA</ion-option>
          </ion-select>
        </ion-item>
      <ion-label stacked color="primary">نموذج</ion-label>
      <ion-select interface="action-sheet" >
        <ion-option>Model 1</ion-option>
        <ion-option>Model 2</ion-option>
        <ion-option>Model 3</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label stacked color="primary">أجزاء</ion-label>
        <ion-select interface="action-sheet" >
          <ion-option>Part 1</ion-option>
          <ion-option>Part 2</ion-option>
          <ion-option>Part 3</ion-option>
        </ion-select>
      </ion-item>
    
  </ion-list>
</ion-content>
<ion-footer padding>
  <button block ion-button color="primary" (click)="submit()">تطبيق</button>
</ion-footer>