<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>دفع</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p ion-text color="secondary">رقم بطاقة الائتمان</p>
            </ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col>
                <ion-input placeholder="0000" type="tel" maxlength="4"></ion-input>
            </ion-col>
            <ion-col>
                <ion-input placeholder="0000" type="tel" maxlength="4"></ion-input>
            </ion-col>
            <ion-col>
                <ion-input placeholder="0000" type="tel" maxlength="4"></ion-input>
            </ion-col>
            <ion-col>
                <ion-input placeholder="0000" type="tel" maxlength="4"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col>
                <ion-label stacked color="darkCyan">Expiry Month</ion-label>
                <ion-input placeholder="MM" type="text" maxlength="2"></ion-input>
            </ion-col>
            <ion-col>
                <ion-label stacked color="darkCyan">تاريخ انتهاء الصلاحية</ion-label>
                <ion-input placeholder="YY" type="text" maxlength="4"></ion-input>
            </ion-col>
            <ion-col>
                <ion-label stacked color="darkCyan">CCV</ion-label>
                <ion-input placeholder="CCV" type="text" maxlength="4"></ion-input>
            </ion-col>
            <ion-col>
                <ion-icon style="font-size:4.2em;" color="secondary" name="card"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input style="border:1px solid whitesmoke;padding:5px;" placeholder="Name on the card"></ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
</ion-content>
<ion-footer padding>
        <button block ion-button (click)="confirm()" color="primary">تأكيد</button>
      </ion-footer>
