/*FONTS*/

@font-face {
    font-family: 'Cairo';
    src: url(../assets/fonts/Cairo-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cairo';
    src: url(../assets/fonts/Cairo-Light.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
  } 

  @font-face {
    font-family: 'Cairo';
    src: url(../assets/fonts/Cairo-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  button,
  div,
  b {
    font-family: 'Cairo', sans-serif !important;
    font-weight: normal;
  }
  .bold{
      font-weight: bold !important;
  }
// http://ionicframework.com/docs/theming/
ion-content{
    background:whitesmoke !important;
}
.back-button-icon{
transform: rotate(180deg);
    
}
.ion-ios-call,.ion-md-call{
    transform: rotate(270deg);
}
.fl_left{
float: left;
}
.fl_right{
float: right;
}
ion-header{
    ion-badge{
        position: relative;
        right: 15px;
    }
}
ion-buttons[end]{
    direction: ltr !important;
}
ion-slides{
    direction: ltr !important;
}
input{
    direction: rtl !important;
}
.shadow{
    box-shadow: 0px 1px 10px #cdcccc;
}
.transparent{
    background:transparent !important;
}
.whiteBg{
    background:white;
}
.smText{
    font-size: 11px;
}

.radBtn{
    border-radius: 50px;
}
.tab-button[aria-selected=true]{
.tab-button-text{
    font-weight: bold !important;
}
.alert-md .alert-button{
    color:color($colors,light)!important;
}
.noPadding{
    padding:0px !important;
}


}
.logoBar{
    max-width: 45px !important;
    margin-top: 5px;
}
.separator{
    border-bottom: 1px solid color($colors,lightGray);
    height: 1px;
    width: 100%;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
