<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="caramel">
    <ion-title>الدفع

      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3 ion-text color="primary">تفاصيل الدفع</h3><br>
  <ion-row *ngFor="let prod of order">
    <ion-col col-2>
      <img src="{{prod.product.image}}">
    </ion-col>
    <ion-col col-9>
      <h5 ion-text color="primary">{{prod.product.title}}</h5>
      <p ion-text color="dark">{{prod.unit_price}} ج.م
        <span ion-text color="secondary">({{prod.quantity}})</span>
      </p>
    </ion-col>
    <ion-col col-1>
      <ion-icon color="danger" name="trash"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="separator"></div>
  <ion-row>
    <ion-col col-12 ion-text color="gray">حاصل الجمع  : {{total}} جنيه مصري</ion-col>
    <ion-col col-12 ion-text color="gray">الشحن: {{this.shipping}} جنيه مصري</ion-col>
    <ion-col col-12>
      <b ion-text color="dark">المجموع : {{this.subTotal}} جنيه مصري</b>
    </ion-col>
  </ion-row>
  <div class="separator"></div>

  <h3 ion-text color="primary">معلومات المستلم</h3>
  <br>
  <ion-list>
    <ion-item>
      <ion-label ion-text stacked color="light">الأسم</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item *ngIf="addresses[0]">
      <ion-label ion-text stacked color="light">العنوان</ion-label>
      <ion-select [(ngModel)]="address" >
        <ion-option *ngFor="let add of addresses " value="{{add.id}}">{{add.area}} - {{add.details}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!addresses[0]">
      
      <button ion-button block (click)="goAddress()">أضف عنوان</button>
    </ion-item>
    <ion-item>
      <ion-label ion-text stacked color="light">رقم التليفون</ion-label>
      <ion-input [(ngModel)]="phone"></ion-input>
    </ion-item>
  </ion-list>

  <div class="separator"></div>

  <h3 ion-text color="primary">طريقة الدفع او السداد</h3><br>
  <ion-list radio-group [(ngModel)]="payment">
      <ion-item>
        <ion-label>كاش عند الاستلام</ion-label>
        <ion-radio color="secondary" value="cash" checked></ion-radio>
      </ion-item>
      <!-- <ion-item>
        <ion-label>بطاقة ائتمان</ion-label>
        <ion-radio color="secondary" value="credit"></ion-radio>
      </ion-item> -->
  </ion-list>
</ion-content>
<ion-footer padding>
  <button ion-button block [disabled]="!name||!phone||!address" color="primary" (click)="goPayment(subTotal,name,address,phone)">اطلب</button>
</ion-footer>