<!--
  Generated template for the MygaragePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>
      <img class="logoBar" src="assets/imgs/tanboora.png">
    </ion-title>
    <ion-buttons dir="ltr" end>
      <button (click)="openCart()" ion-button icon-only color="royal">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{this.cartLength}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button (click)="openContact()" ion-button icon-only color="royal">
        <ion-icon name="call">          
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines class="form">
    <ion-item class="transparent">
      <!-- <ion-label>Brand</ion-label> -->
      <ion-select class="whiteBg" block interface="action-sheet" [(ngModel)]="myBrand" (ngModelChange)="updateBrand(myBrand)">
        <ion-option ion-text color="light" selected>ماركة </ion-option>
        <ion-option ion-text color="light" *ngFor="let brand of brands" value="{{brand.id}}">{{brand.title}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="transparent">
      <!-- <ion-label>Model</ion-label> -->
      <ion-select class="whiteBg" interface="action-sheet" block [(ngModel)]="myModel">
          <ion-option ion-text color="light" selected>موديل</ion-option>
        <ion-option ion-text color="light" *ngFor="let model of myModels" value="{{model.id}}">{{model.title}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="transparent">
      <!-- <ion-label>Year</ion-label> -->
      <!-- <ion-select class="whiteBg" interface="action-sheet" [(ngModel)]="myYear">
          <ion-option ion-text color="light" selected>سنة</ion-option>
        <ion-option ion-text color="light" *ngFor="let year of years">{{year.title}}</ion-option>
        
      </ion-select> -->
      <ion-datetime class="whiteBg" displayFormat="YYYY" pickerFormat="YYYY" [(ngModel)]="myYear" min="1981"></ion-datetime>
    </ion-item>
    <br>
    <div padding>
      <button [disabled]="!myToken || !myBrand || !myModel || !myYear" ion-button block color="primary" (click)="proceed(myBrand,myModel,myYear)">إضافة</button>
    </div>
  </ion-list>
  <div padding text-center *ngIf="!myCars[0]">
      <ion-icon class="bigIcon" name="car"></ion-icon>
      <br>
      <p *ngIf="myToken" ion-text color="gray" text-center>لا توجد اي سيارات خاصة بك </p>
      <p *ngIf="!myToken">لإضافة سيارة تحتاج للتسجيل</p>
      <button *ngIf="!myToken" ion-button  (click)="goLog()">تسجيل دخول</button>
  </div>
  <ion-list  *ngIf="myCars[0]">
    <ion-list-header>السيارات الخاصة بك</ion-list-header>
    <ion-item *ngFor="let car of myCars">
      <ion-thumbnail (click)="proceed(car)" item-start>
        <img *ngIf="car.make.logo" src="{{car.make.logo}}">
        <img *ngIf="!car.make.logo" src="assets/imgs/not.png">
      </ion-thumbnail>
      <h2 ion-text color="primary" (click)="proceed(car)" >{{car.make.title}}</h2>
      <p>{{car.model.title}} / {{car.year}}</p>
      <button ion-button color="danger" (click)="removeItem(car)"  clear item-end>إزالة</button>
    </ion-item>
  </ion-list>
</ion-content>