page-mygarage {
    .bigIcon{
        font-size: 52px !important;
        color:color($colors,gray) !important;
    }
    .form{
        padding-top:10px;
        ion-select,ion-datetime{
            width: 100% !important;
            max-width: unset;
            margin:5px;
            box-shadow:0px 0px 2px 0px #ccc;
            .select-text,.select-icon-inner{
                color:color($colors,light) !important;
            }
        } 
    }
    ion-datetime{
        .datetime-text{
            color:color($colors,light) !important;
        }
    }
}
