<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title><img class="logoBar" src="assets/imgs/tanboora.png"></ion-title>
    <ion-buttons dir="ltr" end>
        <button (click)="openCart()" ion-button icon-only color="royal">
          <ion-icon name="cart">
            <ion-badge color="secondary">{{this.cartLength}}</ion-badge>
          </ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons start>
        <button (click)="openContact()" ion-button icon-only color="royal">
          <ion-icon name="call">          
          </ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-list no-lines class="form">
        <ion-item class="transparent">
          <!-- <ion-label>Brand</ion-label> -->
          <ion-select class="whiteBg" block interface="action-sheet" [(ngModel)]="myBrand" (ngModelChange)="updateBrand(myBrand)">
            <ion-option ion-text color="light" selected>الماركة</ion-option>
            <ion-option ion-text color="light" *ngFor="let brand of brands" value="{{brand.id}}">{{brand.title}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="transparent">
          <!-- <ion-label>Model</ion-label> -->
          <ion-select class="whiteBg" interface="action-sheet" block [(ngModel)]="myModel">
              <ion-option ion-text color="light" selected>موديل</ion-option>
            <ion-option ion-text color="light" *ngFor="let model of myModels" value="{{model.id}}">{{model.title}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="transparent">
          <!-- <ion-label>Year</ion-label> -->
          <ion-datetime class="whiteBg" displayFormat="YYYY" pickerFormat="YYYY" [(ngModel)]="myYear" min="1981"></ion-datetime>
        </ion-item>
        <ion-item class="transparent">
            <!-- <ion-label>Brand</ion-label> -->
            <ion-select class="whiteBg" block interface="action-sheet" [(ngModel)]="myCat">
              <ion-option ion-text color="light" selected>أجزاء</ion-option>
              <ion-option ion-text color="light" *ngFor="let cat of categories" value="{{cat.id}}">{{cat.title}}</ion-option>
            </ion-select>
          </ion-item>
        <br>
        <div padding>
          <button  ion-button block color="primary" (click)="proceed(myBrand,myModel,myYear,myCat)">بحث</button>
        </div>
      </ion-list>
</ion-content>
