page-parts {
    .bigIcon{
        font-size: 52px;
        color:color($colors,gray);
    }
    ion-select{
        width: 100% !important;
        max-width: unset;
        box-shadow:0px 0px 2px 0px #ccc;
        .select-text,.select-icon-inner{
            color:color($colors,light) !important;
        }
    }
    ion-searchbar{
        z-index: 1000;
    }
    .rating{
        ul{
            padding-left: 0px;
            padding-right: 0px;
            margin-top:0px;
            li{
                padding:0px !important;
                ion-icon{
                    color:goldenrod;
                    font-size: 1rem;
                }
            }
        }
    }
}
