<!--
  Generated template for the PartsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title *ngIf="brand" color="black">{{brand}} {{model}}</ion-title>
    <ion-title *ngIf="!brand" color="black">كل القطع</ion-title>
    <ion-buttons dir="ltr" end>
      <button (click)="openCart()" ion-button icon-only color="royal">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{this.cartLength}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  
  <ion-searchbar placeholder="بحث برقم القطعة او اسم الموديل" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-select [(ngModel)]="myParts" interface="action-sheet" (ngModelChange)="updateChoice(myParts)">
      <ion-option ion-text color="light" selected>اختيار الأجزاء الخاصة بك</ion-option>
      <ion-option ion-text color="light" *ngFor="let cat of categories" value="{{cat.id}}">{{cat.title}}</ion-option>
    </ion-select>
  <ion-grid>
      <ion-list>
        <div *ngIf="!items[0]" padding text-center class="whiteBg">
          <ion-icon class="bigIcon" name="ios-information-circle-outline">
          </ion-icon>
          <br>
          <p ion-text color="gray">لا توجد منتجات</p>
        </div>
        <ion-item *ngFor="let part of items" (click)="goDetails(part)">
            <ion-thumbnail item-start>
                <img src="{{part.image}}">
              </ion-thumbnail>
              <h2>{{part.title}}</h2>
              <p>{{part.price}} ج.م</p>
              <div>
                  <div class="rating" text-right>
                      <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                        nullable="false" (ngModelChange)="onModelChange($event)"></rating>
                      <!-- <b ion-text color="dark">4/5</b><br> -->
                    </div>
              </div>
              <span>بواسطة {{part.shop}}</span>
              <p>{{part.make.title}} - {{part.model.title}}</p>
        </ion-item>
      </ion-list>

  </ion-grid>
  <!-- <ion-fab bottom right>
    <button color="secondary" ion-fab mini (click)="goFilter()">
      <ion-icon name="funnel"></ion-icon>
    </button>
  </ion-fab> -->

</ion-content>