page-review {
    .rating{
        ul {
            padding: 0px;
           
            &.rating li {
              padding: 5px 10px !important;
              background: none;
              color: #ffb400;
           
              ion-icon {
                font-size: 30px;
              }
            }
          }
          ion-textarea,ion-input{
              width:100%;
              border: 1px solid #ddd;
              padding:5px;
              background:#fff;
          }
    }
}
