<!--
  Generated template for the ReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title> تقييم</ion-title>
    <ion-buttons dir="ltr" end>
        <button (click)="dismiss()" ion-button icon-only color="royal">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="rating" padding text-center>
    <rating [(ngModel)]="rate" readOnly="false"  max="5" emptyStarIconName="star-outline"
     halfStarIconName="star-half"  starIconName="star"  nullable="false"
     (ngModelChange)="onModelChange($event)"></rating>
     <b ion-text color="dark">{{rate}}/5</b><br>
     <div padding>
     <ion-textarea [(ngModel)]="review" rows="5" placeholder="اكتب تعليق"></ion-textarea>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div padding>
    <button (click)="submit(rate,review)" ion-button color="secondary" block>ارسال</button>
  </div>
</ion-footer>