<!--
  Generated template for the FavoritepartsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>أجزاء المفضلة</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div padding text-center *ngIf="!myFavParts[0]">
    <ion-icon class="bigIcon" name="heart-outline"></ion-icon><br>
    <p ion-text color="gray" text-center>لا توجد اي منتجات في المفضلة</p>
  </div>
    <ion-list *ngIf="myFavParts[0]">
        <ion-item  *ngFor="let part of myFavParts" >
          <ion-thumbnail  item-start (click)="partDetails(part)">
            <img src="{{part.image}}">
          </ion-thumbnail>
          <h2 ion-text color="primary" (click)="partDetails(part)">{{part.title}}</h2>
          <button ion-button color="danger" (click)="removeItem(part)" clear item-end>إزالة</button>
        </ion-item>
      </ion-list>

</ion-content>
