
<ion-header>

  <ion-navbar color="caramel">
    <ion-title>اضف عنوان</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label ion-text color="light" stacked>المنطقة</ion-label>
    <ion-input [(ngModel)]="area"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label ion-text color="light" stacked>تفاصيل العنوان</ion-label>
    <ion-textarea [(ngModel)]="details" rows="4"></ion-textarea>
  </ion-item>
</ion-list>
<div padding>
  <button ion-button block color="light" (click)="add(area,details)">اضف</button>
</div>
</ion-content>
